*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,body{
	height: 100%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
.page {
	overflow: hidden;
	display: block;
	flex-direction: column;
}
.container{
	max-width: 1180px;
	margin: 0px auto;
	padding: 0px 10px;
}
.header_img {
	background-image: url(..//img/bi.jpg);
	height: 650px;
	width: 100%;
	display: block;
}
.header_img img{
	background-repeat: no-repeat;
	background-attachment: unset;
}
.header {
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: #2E7D32;
	overflow: hidden;
}
.header:before{
	content: '';
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 60px;
	align-items: center;
}
.header__logo {
	margin: 0;
	padding: 0;
	flex: 0 0 90px;
	border-radius: 0%;
	text-decoration: none;
	position: relative;
	display: flex;
	z-index: 3;
}
.header__logo img {
  max-width: 60px;
  display: block;
}
.header__logo h1 {
  margin: 7px 0px 0px 0px;
  padding: 0;
  color: white;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  border-bottom: none;
}
.header__burger {
	display: none;
}
.header__list {
	display: flex;
	position: relative;
	z-index: 2;
}
.header__list li{
	list-style: none;
	margin: 0px 0px 0px 20px;
	color: black;
	font-weight: 700;
}
.header__list a:hover{
	color: #D4C17F;
	transition: 0.5s;
}
.header__link a,i{
	color: black;
}
.header__link {
	color: white;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
}
.header__list i{
	color: black;
	padding: 1px;
}
.header_fixed {
	position: fixed;
	background-color: #2E7D32;
	opacity: 0.9;
	animation-name: chase;
	animation-duration: 1s;
}

@keyframes chase {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}
.blocksp img{
	width: 450px;
	height: 400px;
}
.info1 {
	width: 100%;
	text-align: center;
	background-color: #2E7D32;
}
.info11 {
	display: inline-block;
	vertical-align: top;
	margin: 0px 0px 0px 0px;
	text-align: center;
}

.info11 input {
	width: 175px;
	height: 25px;
	border-radius: 10px;
	border: 1px solid white;
	padding: 15px 5px;
	margin: 10px;
}

.info11 textarea {
	width: 375px;
	height: 75px;
	border-radius: 10px;
	border: 1px solid white;
	padding: 15px 5px;
	margin: 10px;
}

.info11 button {
	width: 175px;
	height: 35px;
	border-radius: 10px;
	cursor: pointer;
	margin: 10px 0px 0px 125px;
}

.info11 h3 {
	color: #555555;
	margin: 0px 0px 0px 0px;
}

.info11 p, a{
	color: white;
}
.list{
	text-align: left;
	padding: 10px;
}
.list img{
	width: 15px;
}
.list p{
	display: inline-block;
	margin-left: 5px;
}
.crp{
	width: 100%;
	text-align: center;
	background: linear-gradient(135deg, #f0fff0, #e8f5e9);
}
.cr{
	display: inline-block;
	width: 500px;
	vertical-align: middle;
	margin: 50px 0px 50px 0px;
	text-align: center;
}
.cr a{
	width: 175px;
	background-color: ;
	padding: 15px;
	border-radius: 5px;
	border: 2px solid #2E7D32;
	color: #2E7D32;
	font-weight: 900;
	text-decoration: none;
}
#cri img{
	width: 400px;
}
.cr img{
	width: 600px;
}
.cr h1{
	color: black;
	font-size: 50px;
}
.cr p{
	color: black;
	font-size: 30px;
	font-weight: 700;
}
.cr h3{
	color: black;
	font-weight: 900;
	font-size: 35px;
}
.cr h2{
	color: #2E7D32;
	font-weight: 900;
	font-size: 40px;
}
.crt {
  width: 100%;
  display: inline-block;
  background: linear-gradient(135deg, #f0fff0, #e8f5e9);
  border-radius: 15px;
}

.crt h1 {
  color: #2E7D32;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.cont {
  display: inline-block;
  width: 750px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
  padding: 25px;
  border: 2px solid #a5d6a7;
  color: #4c4c4c;
}

.crt .cont p {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: left;
}
.footer{
	width: 100%;
	text-align: center;
	background-color: #101c2c;
	border-top: 1px solid white;
	padding: 10px;
	margin: 20px 0px 0px 0px;
	display: block;
}
.footer a,p{
	color: #7f7f7f;
}
.ablockp{
	width: 100%;
	background-color: #2E7D32;
	padding: 15px;
	margin: 0px 0px 50px 0px;
	text-align: center;
}	
.ablock {
	width: 355px;
	text-align: center;
	margin: 50px 0px 30px 10px;
	display: inline-block;
	vertical-align: middle;
	height: 300px;
}
.ablock img{
	width: 150px;
}
.ablock p{
	color: white;
	font-size: 30px;
	font-weight: 700;
}
.ablockp h1{
	color: white;
	font-weight: 900;
}
.carp{
	width: 100%;
	text-align: center;
	margin: 100px 0px 50px 0px;
}
.carp h1{
	color:  #2E7D32;
	font-weight: 900;
}
.carp a{
	color: black;
}
.car {
	display: inline-block;
	width: 350px;
	max-height: 350px;
	min-height: 340px;
	margin: 0px 0px 50px 20px;
	padding: 15px 5px;
	box-shadow: 0 3px 20px rgba(0, 0, 0, .30);
	border-radius: 25px;
	vertical-align: top;
	background-color: white;
}
#cari{
	width: 40px;
}
#order-form-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#order-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}
#order-form h2{
	color: black;
}
#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: 20px;
font-weight: 700;
color: red;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: #666;
  cursor: pointer;
}
#formbutt{
	background-color:  #2E7D32;
	width: 150px;
	height: auto;
	padding: 5px;
	color: white;
	font-weight: 900;
	font-size: 19px;
	border-radius: 15px;
}
#order-button{
	background-color:  #2E7D32;
	width: 150px;
	height: auto;
	padding: 5px;
	color: white;
	font-weight: 900;
	font-size: 19px;
	border-radius: 15px;
}
#form input{
	width: 175px;
	border: 1px solid silver;
	border-radius: 15px;
	padding: 10px;
}
#order-button{
	background-color:  #2E7D32;
	width: 150px;
	height: auto;
	padding: 5px;
	color: white;
	font-weight: 900;
	font-size: 19px;
	border-radius: 15px;
	cursor: pointer;
}
.car h2{
	color: black;
}
#carpp {
	color:  #2E7D32;
	font-size: 21px;
}
.car {
    position: relative;
    overflow: hidden;
    max-height: 1000px; /* Початкова висота блоку */
    transition: max-height 0.5s ease-in-out; /* Плавна анімація */
}
.car img{
	width: 200px;
}
.car p{
	color: black;
}
.phone-button, .phone-button1, .phone-button2 {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  border-radius: 50%;
  background-color: #1e88e5;
  color: #fff;
  font-size: 30px;
  width: 60px;
  height: 60px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  cursor: pointer;
  animation: pulse 1.5s infinite;
}

.phone-button1, .phone-button2 {
  display: none;
}
.phone-button1-show {
  display: block;
  position: fixed;
  bottom: 90px;
  right: 20px;
  z-index: 4;
  border-radius: 50%;
  background-color: #4caf50;
  color: #fff;
  font-size: 30px;
  width: 60px;
  height: 60px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s ease-out;
}

.phone-button2-show {
  display: block;
  position: fixed;
  bottom: 160px;
  right: 20px;
  z-index: 4;
  border-radius: 50%;
  background-color: #f44336;
  color: #fff;
  font-size: 30px;
  width: 60px;
  height: 60px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s ease-out;
}
.phone-button2-show i, .phone-button1-show i{
	color: white;
	margin-top: 5px;
}
.phone-button i {
  margin-top: 5px;
  color: white;
}
@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(30, 136, 229, 0.4);
  }
  70% {
    box-shadow: 0px 0px 0px 20px rgba(30, 136, 229, 0);
  }
  100% {
    box-shadow: 0px 0px 0px 0px rgba(30, 136, 229, 0);
  }
}
@media (max-width:767px){
	body.lock{
		overflow: hidden;
	}
	.header__body {
		height: 50px;
	}
	.header__logo {
		flex: 0 0 40px;
	}
	.header__burger {
		display: block;
		position: relative;
		height: 20px;
		width: 30px;
		z-index: 3;
	}
	.header__burger span{
		position: absolute;
		background-color: #fff;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before{  
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}

	.header__burger.active span{
		transform: scale(0);
	}

	.header__burger.active:before{
		transform:rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform:rotate(-45deg);
		bottom: 9px;
	}

 .header__menu {
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #5b94de;
    padding: 70px 10px 20px 10px;
    opacity: 0.95;
    background-color: #2E7D32;
}

	.header__menu.active{
		top: 0;
	}

	.header__list {
		display: block;
	}
	.header__list li{
		margin: 0px 0px 20px 0px;
	}
	.header__link {
		font-size: 24px;
	}
}
.content__text {
	}
.content__text p{
	
}
.content {
	position: relative;
	display: flex;
	flex-direction: column;
}
.Cofe_2 {
	position: relative;
}
@media (max-width:767px){
.blocks{
	width: 95%;
	display: inline-block;
	height: auto;
	margin: 20px 0px 0px 0px;
}
.blocks img{
	width: 300px;
	height: 300px;
}
.info p{
	margin: 175px 0px 0px 0px;
}
.header__logo img{
	width: 80px;
}
.header__logo h1{
}
.alli img{
	width: 350px;

}
.info1 {
	display: inline-block;
	height: auto;
}
.info11{
	width: 90%;
	display: inline-block;
	margin: 0px 0px 0px 0px;
}
.info11 iframe{
	width: 100%;
}
.alli {
	width: 95%;
	padding: 5px;
}
.list img{
	width: 15px;
}
.info11 textarea{
	width: 90%;
}
.info11 button{
	margin: 0px 0px 0px 10px;
}
.services{
	width: 95%;
	margin: 50px 0px 50px 0px;
}
.cr{
	width: 100%;
	margin: 20px 0px 20px 0px;
	padding: 10px;
}
.cont{
	width: 95%;
}
.cont h1{
	color: black;
	text-align: left;
}
.cont p{
	color: #4A4A4A;
	text-align: center;
}
.cr img {
	width: 95%;
}
.servicesp{
	background-image: url('..//img/serbgp.png');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.ablock{
	width: 95%;
	text-align: center;
	margin: 30px 0px -30px 0px;
}
.ablockp{
	padding: 0;
}
.cr h1{
	text-align: center;
}
#cri img{
	width: 90%;
}
.car{
	width: 90%;
	margin: 20px 0px 20px 0px;
}
.header__logo img{
	max-width: 55px;
}
}
	
